<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">


    <beans:bean id="restServicesEntryPoint"
		class="intern.luule.springmvcjwt.rest.RestAuthenticationEntryPoint" />

    <beans:bean id="customAccessDeniedHandler"
		class="intern.luule.springmvcjwt.rest.CustomAccessDeniedHandler" />
		
	<beans:bean id="jwtAuthenticationFilter" class="intern.luule.springmvcjwt.rest.JwtAuthenticationTokenFilter">
		<beans:property name="authenticationManager" ref="authenticationManager" />
    </beans:bean>


	<http pattern="/rest/login" security="none"/>

	<http pattern="/rest/**" auto-config="false" use-expressions="true"
		create-session="stateless" entry-point-ref="restServicesEntryPoint">
		<intercept-url pattern="/rest/**" access="hasRole('ROLE_USER') or hasRole('ROLE_ADMIN')" method="GET"/>
		<intercept-url pattern="/rest/**" access="hasRole('ROLE_ADMIN')" method="DELETE"/>
		<intercept-url pattern="/rest/**" access="hasRole('ROLE_ADMIN')" method="POST"/>
		
		<custom-filter position="FORM_LOGIN_FILTER" ref="jwtAuthenticationFilter"/>
		<access-denied-handler ref="customAccessDeniedHandler"/>
		<csrf disabled="true" />
	</http>


	<authentication-manager alias="authenticationManager">
		<authentication-provider>
			<user-service>
				<user name="luu" password="{noop}123456" authorities="ROLE_ADMIN" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
	
</beans:beans>
